
/* Standard image properties */

.standardImgSizeLg{
  height: 390px;
  width: 550px;

}

/* Standard Text styles */
h1, h2, h3 {
  font-family: "Montserrat";
  line-height: 1.5;
  text-align: center;
}

h1{
  font-size: 3.5rem;
  text-align: center;
}
#navigation{
  font-family: "ubuntu";
}

.titleHeading{
  color: #fcac0c;
  text-align: center;
  font-size: 6rem;
  border: solid;
}

.titleHeadingDiv{
  border: solid;
}

/* Navbar */

.nav-item{
  text-align: center;
}

/* Title */

#title{
  background-color: #252525;
  color: #fcac0c;
  margin-bottom:0px;
  padding: 7% 3%;
}

.titleDiv{
  margin: 50px 150px 0px;
}

.titleText{
  margin: 20rem 4rem 2rem;
  text-align: left;
}

.revenantProfilePic{
  border-radius: 100%;
}

/* Matching */

.matchingDiv{
  padding: 8% 15%;
}

.card-header{
  margin: 4rem 0 0;
  border-top: solid;
  border-right: solid;
  border-left: solid;
}

.card-body{
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  padding: 2% 13%;
  text-align: center;
}

.matchingList{
  text-align: left;
}


/* middle containers */

.middle-container{
  text-align: center;
}

/* bottom container */
.bottom-container{
  text-align: center;
}

@media (max-width: 1204px){
  #title{
    text-align: center;
  }
  .titleText{
    margin: 5rem 4rem 2rem;
    text-align: center;
  }
}
